{% extends 'web/base.html' %}
{% load static %}
{% block title %}Contact{% endblock %}

{% block content %}

      <!-- Breadcrumb -->
      <div class="breadcrumb-container">
        <nav data-depth="2" class="breadcrumb container">
          <h1 class="h1 category-title breadcrumb-title">ABOUT US</h1>
          <ul>
            <li>
              <a href="{% url 'core:index' %}">
                <span>Home</span>
              </a>
            </li>
            <li>
                <span>About Us</span>
            </li>
          </ul>
        </nav>
      </div>
      <!-- Cart page -->
      <div id="wrapper">
        <div class="container">
          <div id="content-wrapper" class="col-xs-12">
            <section id="main">
              <div class="about-page">    
                <div class="about-container">
                  <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12">                                
                      <a href="{% url 'core:contact' %}" class="about-img"><img alt="about-img" src="{% static 'web/images/about-img1.jpg' %}"></a>
                    </div>
                    <div class="about-us information-container col-lg-6 col-md-12 col-sm-12">
                      <h2 class="title-container"> Radon - Your One-Stop Shop for All Your Mobile Accessory Needs
                      </h2>
                      <p>Radon is one of India's foremost manufacturers and dealers of mobile accessories. Radon delivers quality and durable mobile accessories at an affordable price. With Radon products, you can expect exceptional quality and long-lasting durability. Get the latest and most advanced accessories from Radon and experience cutting-edge technology trends.</p>
                       <div class="about-btn">
                        <a href="{% url 'core:contact' %}" class="btn btn btn-primary">
                          CONTACT US
                          <svg aria-hidden="true" focusable="false" class="icon icon--wide icon-arrow-right" viewBox="0 0 20 8"><path d="M4.814 7.555C3.95 6.61 3.2 5.893 2.568 5.4 1.937 4.91 1.341 4.544.781 4.303v-.44a9.933 9.933 0 0 0 1.875-1.196c.606-.485 1.328-1.196 2.168-2.134h.752c-.612 1.309-1.253 2.315-1.924 3.018H19.23v.986H3.652c.495.632.84 1.1 1.036 1.406.195.306.485.843.869 1.612h-.743z" fill-rule="evenodd"></path></svg>
                        </a>
                      </div>             
                    </div>
                  </div>
                </div>              
                <div class="block-title">
                  <h2 class="home-title">Explore Radon's perks</h2>
                  <p>Radon is one of the finest manufacturers and dealers in Kerala of mobile accessories dedicated to providing quality and durable accessories at an affordable price.</p>
                </div>
                <div class="about-services">
                  <div class="row">
                    <div class="col-lg-4 col-md-6 service">
                      <img alt="icon-1" src="{% static 'web/images/icons/icon-1.png' %}">
                      <h3>Best Quality</h3>
                      <p>We guarantee the highest quality with every product of Radon.</p>
                    </div>
                    <div class="col-lg-4 col-md-6 service">
                      <img alt="icon-2" src="{% static 'web/images/icons/icon-2.png' %}">
                      <h3>High Durability</h3>
                      <p>We offer long-lasting products to save you money.</p>
                    </div>
                    <div class="col-lg-4 col-md-12 service">
                      <img alt="icon-3" src="{% static 'web/images/icons/icon-3.png' %}">
                      <h3>Best Offers</h3>
                      <p>Our products are of the best quality at the most competitive price.</p>
                    </div>
                  </div>
                </div> 
                <div class="about-container bottom-about">
                  <div class="row">
                    <div class="about-us information-container text-right col-lg-6 col-md-12 col-sm-12">
                      <div class="title-container"> Charge Up in Style with RadOn</div>
                      <p class="text-right">The company Radon is renowned as one of India's finest manufacturers and suppliers of mobile accessories, making high-quality and durable charging accessories affordable. Radon introduced up-to-date charging accessories with more features and advantages. Radon's quality sets it apart from its competitors.</p>  
                      <div class="about-btn">
                        <a href="{% url 'core:contact' %}" class="btn btn btn-primary">
                          CONTACT US
                          <svg aria-hidden="true" focusable="false" class="icon icon--wide icon-arrow-right" viewBox="0 0 20 8"><path d="M4.814 7.555C3.95 6.61 3.2 5.893 2.568 5.4 1.937 4.91 1.341 4.544.781 4.303v-.44a9.933 9.933 0 0 0 1.875-1.196c.606-.485 1.328-1.196 2.168-2.134h.752c-.612 1.309-1.253 2.315-1.924 3.018H19.23v.986H3.652c.495.632.84 1.1 1.036 1.406.195.306.485.843.869 1.612h-.743z" fill-rule="evenodd"></path></svg>
                        </a>
                      </div>             
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">                                
                      <a href="{% url 'core:contact' %}" class="about-img"><img alt="about-img" src="{% static 'web/images/about-img2.jpg' %}"></a>
                    </div>
                  </div>
                </div>                 
              </div>
            </section>
          </div>
        </div>
      </div>
      
    {% endblock %}
    