{% extends 'web/base.html' %}
{% load static %}
{% block title %}Contact{% endblock %}

{% block content %}
<!-- Breadcrumb -->
<div class="breadcrumb-container mb-4">
  <nav data-depth="2" class="breadcrumb container">
    <h1 class="h1 category-title breadcrumb-title">GALLERY</h1>
    <ul>

    </ul>
  </nav>
</div>

<!-- Smart Blog -->
<section id="wrapper">
  <div class="container-fluid col-lg-11 col-md-11 col-sm-12">
    <div class="row">
      <div id="content-wrapper" class="container-fluid">
        <div id="gallery-container" class="block lamiiz_gallery row">


          {% for gallery in gallaries %}
          <div class="sdsarticleCat clearfix row col-sm-6-lamiiz col-sm-6 col-md-4 col-lg-3">
            <div class="articleContent col-12">
              <a href="{{gallery.image.url}}" class="">
                <img alt="Gallery Image" src="{{gallery.image.url}}">
              </a>
              <div class="btn-cart">
                <a class="button buy-btn position-absolute-lamiiz" href="">
                  <span class="lblcart h5-lamiiz">{{gallery.name}}</span>
                </a>
              </div>

            </div>
          </div>
          {% endfor %}

        </div>
      </div>
</section>
<div class="container">
  <div id="_mobile_left_column"></div>
  <div id="_mobile_right_column"></div>
  <div class="clearfix"></div>
</div>
<!-- footer -->
{% endblock %}

{% block stylesheet-lamiiz-gallery %}

<style>
  .position-absolute-lamiiz {
    position: absolute;
    margin: -57px 0 0 113px;
    padding: 6px 55px;
    display: block;
    background-color: #ee5a22;
    border-radius: 30px;
    transition: 0.5s ease-in-out;
    z-index: -999999999999999;
    opacity: 0;
  }

  .position-absolute-lamiiz:hover {
    background-color: black;
  }

  .sdsarticleCat {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .articleContent:hover .position-absolute-lamiiz {
    opacity: 1;
    display: block;
    z-index: 999999999999999;
  }

  .h5-lamiiz {
    color: #fff;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;
  }
</style>
{% endblock %}